*.log
/index.php
/xmlrpc.php
wp-*.php
wp-admin/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/index.php
wp-content/languages/
wp-content/plugins/
wp-content/plugins/hello.php
wp-content/themes/index.php
wp-content/themes/twenty*
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-includes/

.htaccess
license.txt
readme.html
sitemap.xml
sitemap.xml.gz

*.log
*.pid
*.pid.lock
*.seed
.env
.npm
logs
node_modules/
npm-debug.log*
pids
