@import url("http://fonts.googleapis.com/css?family=Playfair+Display:400,900,900italic|Playfair+Display+SC|Titillium+Web:400,300,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

hr {
  display: none; }

img {
  vertical-align: bottom; }

a {
  text-decoration: none; }

body {
  background: url(../img/bg1.jpg) no-repeat center 0; }

.head,
.main {
  margin: 0 auto;
  width: 960px; }

.main {
  text-align: center; }

.body, .side {
  text-align: left; }

.body {
  float: left;
  width: 620px; }

.side {
  float: right;
  width: 300px; }

.foot {
  clear: both; }

.logo {
  padding: 24px 0 40px 35px; }

.nav-main {
  border-top: 1px solid black;
  position: relative;
  z-index: 10; }

.menu-main {
  *zoom: 1;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  font: 20px/50px "Playfair Display SC", sans-serif;
  text-transform: uppercase; }
  .menu-main:after {
    content: "";
    display: table;
    clear: both; }
  .menu-main .menu-item {
    float: left;
    margin-left: 10px; }
    .menu-main .menu-item:first-child {
      margin-left: 0; }
  .menu-main a {
    color: black;
    display: block;
    padding: 0 10px;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out; }
    .menu-main a:hover, .menu-main a:focus, .menu-main a:active {
      background: rgba(0, 0, 0, 0.1); }

.wrap-categories {
  position: absolute;
  right: 0;
  top: 0; }
  .wrap-categories:hover .menu-item,
  .wrap-categories:hover .cat-item, .wrap-categories:focus .menu-item,
  .wrap-categories:focus .cat-item, .wrap-categories:active .menu-item,
  .wrap-categories:active .cat-item {
    margin-top: 0;
    opacity: 1; }
  .wrap-categories .menu-categories:target .menu-item,
  .wrap-categories .menu-categories:target .cat-item {
    margin-top: 0;
    opacity: 1; }

.menu-categories {
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 50px; }
  .menu-categories .menu-item,
  .menu-categories .cat-item {
    background: white;
    background: rgba(255, 255, 255, 0.5);
    border-top: 1px solid black;
    display: block;
    margin-top: -30px;
    opacity: 0;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  .menu-categories a {
    color: black;
    display: block;
    font: 14px/2 "Titillium Web", sans-serif;
    min-width: 5em;
    padding: 0 16px;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    -webkit-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out; }
    .menu-categories a:hover, .menu-categories a:focus, .menu-categories a:active {
      background: rgba(0, 0, 0, 0.1); }

.toggle-menu-categories {
  background: none;
  border: 0 none;
  color: black;
  cursor: default;
  display: block;
  font: 10px/1.2 "Titillium Web", sans-serif;
  padding: 13px 26px 13px 0;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  width: 7em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .toggle-menu-categories:before {
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 23px; }

.foot {
  background: black url(../img/watermark.png) no-repeat left bottom;
  color: white;
  font: 11px/3 "Titillium Web", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 25px;
  text-transform: uppercase; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .foot {
    background-image: url(../img/watermark@2x.png);
    -moz-background-size: 762px 143px;
    -o-background-size: 762px 143px;
    -webkit-background-size: 762px 143px;
    background-size: 762px 143px; } }
.nav-foot,
.copyright {
  margin: 0 auto;
  position: relative;
  width: 960px; }

.nav-foot {
  z-index: 2; }

.menu-foot {
  padding: 25px 0;
  position: absolute;
  right: 0;
  text-align: right;
  white-space: nowrap;
  z-index: 1; }
  .menu-foot .menu-item {
    display: inline; }
  .menu-foot a {
    color: white;
    margin-left: 20px; }
    .menu-foot a:hover, .menu-foot a:focus, .menu-foot a:active {
      border-bottom: 1px dashed white; }

.copyright {
  padding: 25px 0; }
  .copyright img {
    vertical-align: text-bottom; }

.hero {
  margin-bottom: 15px;
  position: relative; }

.viewport {
  height: 400px;
  overflow: hidden;
  position: relative; }

.overview {
  left: 0;
  position: absolute;
  top: 0;
  width: 960px; }

.hero-item {
  float: left;
  height: 400px;
  width: 960px; }

.bullets {
  bottom: 23px;
  left: 45px;
  position: absolute; }
  .bullets li {
    display: inline; }
  .bullets a {
    background: white;
    border: 5px solid transparent;
    border-radius: 50%;
    float: left;
    height: 4px;
    margin-right: 15px;
    overflow: hidden;
    text-indent: 100%;
    width: 4px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box; }
    .bullets a.active, .bullets a:hover, .bullets a:focus, .bullets a:active {
      -moz-background-clip: border;
      -o-background-clip: border-box;
      -webkit-background-clip: border;
      background-clip: border-box; }

.features {
  text-align: left; }

.feature-item,
.related-item {
  float: left;
  margin: 0 0 30px 15px;
  width: 310px; }
  .feature-item:first-child,
  .related-item:first-child {
    margin-left: 0; }
  .feature-item a,
  .related-item a {
    color: black;
    display: block; }
    .feature-item a:hover img, .feature-item a:focus img, .feature-item a:active img,
    .related-item a:hover img,
    .related-item a:focus img,
    .related-item a:active img {
      border-color: black; }
  .feature-item img,
  .related-item img {
    border: 1px solid #e5e5e5;
    display: block;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border 0.3s ease-out;
    -o-transition: border 0.3s ease-out;
    -webkit-transition: border 0.3s ease-out;
    transition: border 0.3s ease-out; }

.feature-category,
.related-category {
  font: 10px/1.4 "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin: 0 5px;
  position: relative;
  text-transform: uppercase; }
  .feature-category:before,
  .related-category:before {
    background: black;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px; }

.feature-title,
.related-title {
  font: 27px/1.2 "Playfair Display", sans-serif;
  padding: 0 5px 30px; }

.ad {
  display: inline-block;
  margin: 30px auto;
  padding: 0 35px;
  position: relative; }
  .ad:before, .ad:after {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    content: "AD";
    display: block;
    font: 900 9px/2 "Titillium Web", sans-serif;
    height: 100%;
    position: absolute;
    top: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .ad:before {
    color: black;
    left: 0; }
  .ad:after {
    color: transparent;
    right: 0; }

.entry {
  margin-bottom: 60px; }

.entry-category,
.related-heading {
  font: 10px/3.4 "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
  position: relative;
  text-transform: uppercase; }
  .entry-category a,
  .related-heading a {
    color: black; }
    .entry-category a:hover, .entry-category a:focus, .entry-category a:active,
    .related-heading a:hover,
    .related-heading a:focus,
    .related-heading a:active {
      border-bottom: 1px dashed black; }
  .entry-category:before,
  .related-heading:before {
    background: black;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 12px; }

.entry-title {
  font: 900 38px/1.2 "Playfair Display", sans-serif;
  margin-bottom: 40px; }
  .entry-title a {
    color: black; }
    .entry-title a:hover, .entry-title a:focus, .entry-title a:active {
      border-bottom: 1px dashed black; }

.entry-meta {
  font: 10px "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
  text-transform: uppercase; }
  .entry-meta a {
    color: black;
    font-weight: 900; }
    .entry-meta a:hover, .entry-meta a:focus, .entry-meta a:active {
      border-bottom: 1px dashed black; }

.entry-foot {
  padding: 30px 0; }

.entry-tags {
  font: 900 10px "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
  .entry-tags a {
    background: black;
    border: 1px solid black;
    color: white;
    display: inline-block;
    font-weight: 400;
    padding: 0 0.2em 0 0.4em;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .entry-tags a:hover, .entry-tags a:focus, .entry-tags a:active {
      background: transparent;
      color: black; }

.content p, .content ul, .content ol {
  font: 300 18px/1.5 "Titillium Web", sans-serif;
  margin-bottom: 1.5em; }
  .content p a,
  .content p em, .content p i,
  .content p strong, .content p b, .content ul a,
  .content ul em, .content ul i,
  .content ul strong, .content ul b, .content ol a,
  .content ol em, .content ol i,
  .content ol strong, .content ol b {
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-weight: 900; }
.content a {
  border-bottom: 1px dashed black;
  color: black; }
  .content a:hover, .content a:focus, .content a:active {
    border-bottom-style: solid; }
.content img {
  display: block;
  height: auto;
  max-width: 100%; }

.related-posts {
  *zoom: 1;
  clear: both;
  margin-bottom: 60px; }
  .related-posts:after {
    content: "";
    display: table;
    clear: both; }

.related-heading {
  margin-bottom: 20px; }

.related-item {
  width: 300px; }

.widget {
  *zoom: 1;
  clear: both;
  font: 11px/1.5 "Titillium Web", sans-serif;
  margin-bottom: 60px; }
  .widget:after {
    content: "";
    display: table;
    clear: both; }
  .widget a {
    color: black; }
  .widget p {
    font-size: inherit;
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
    text-transform: uppercase; }
  .widget ul, .widget ol {
    font: 300 14px/1.8 "Titillium Web", sans-serif; }
    .widget ul li, .widget ol li {
      border-top: 1px solid #cccccc; }
      .widget ul li:first-child, .widget ol li:first-child {
        border-top: 0 none; }
      .widget ul li a, .widget ol li a {
        display: block; }

.widget-title {
  font: 900 10px/2.8 "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase; }
  .widget-title:before {
    background: black;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px; }

.widget-about a {
  display: block; }
.widget-about .widget-title {
  background: black;
  color: white;
  margin: 16px 0 0;
  padding: 0 12px; }
  .widget-about .widget-title:before {
    top: -16px; }
.widget-about .about-everyone {
  border-top: 1px solid black;
  padding-top: 1.5em; }
  .widget-about .about-everyone p {
    margin-left: 80px; }
.widget-about .about-collaborators {
  float: left;
  width: 69px; }
