@import url("http://fonts.googleapis.com/css?family=Playfair+Display:400,900,900italic|Playfair+Display+SC|Titillium+Web:400,300,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

hr {
  display: none; }

img {
  vertical-align: bottom; }

a {
  text-decoration: none; }

body {
  background: url(../img/bg1.jpg) no-repeat center 0; }

.head,
.main {
  margin: 0 auto;
  width: 960px; }

.main {
  text-align: center; }

.body, .side {
  text-align: left; }

.body {
  float: left;
  width: 620px; }

.side {
  float: right;
  width: 300px; }

.foot {
  background: black;
  clear: both; }

.logo {
  padding: 24px 0 40px 35px; }

.nav-main {
  border-top: 1px solid black;
  position: relative;
  z-index: 10; }

.menu-main {
  background: white;
  background: rgba(255, 255, 255, 0.5);
  font: 20px/50px "Playfair Display SC", sans-serif;
  text-transform: uppercase;
  *zoom: 1; }
  .menu-main:after {
    content: "";
    display: table;
    clear: both; }
  .menu-main .menu-item {
    float: left;
    margin-left: 30px; }
    .menu-main .menu-item:first-child {
      margin-left: 10px; }
  .menu-main a {
    color: black; }

.wrap-categories {
  position: absolute;
  right: 0;
  top: 0; }
  .wrap-categories:hover .menu-categories {
    display: block; }

.toggle-menu-categories {
  background: none;
  border: 0 none;
  font: 10px/1.2 "Titillium Web", sans-serif;
  padding: 13px 26px 13px 0;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  width: 7em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  .toggle-menu-categories:before {
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: 23px; }

.menu-categories {
  border-top: 1px solid black;
  display: none;
  position: absolute;
  right: 10px;
  top: 50px; }
  .menu-categories .menu-item {
    display: inline; }
  .menu-categories a {
    background: white;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid black;
    color: black;
    display: block;
    font: 14px/2 "Titillium Web", sans-serif;
    min-width: 5em;
    padding: 0 16px;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap; }

.foot {
  color: white;
  font: 11px/3 "Titillium Web", sans-serif;
  letter-spacing: 0.1em;
  padding-bottom: 25px;
  text-transform: uppercase; }

.nav-foot,
.copyright {
  margin: 0 auto;
  position: relative;
  width: 960px; }

.menu-foot {
  padding: 25px 0;
  position: absolute;
  right: 0;
  text-align: right; }
  .menu-foot .menu-item {
    display: inline; }
  .menu-foot a {
    color: white;
    margin-left: 20px; }

.copyright {
  padding: 25px 0; }
  .copyright img {
    vertical-align: text-bottom; }

.hero {
  margin-bottom: 15px;
  position: relative; }

.viewport {
  height: 400px;
  overflow: hidden;
  position: relative; }

.overview {
  left: 0;
  position: absolute;
  top: 0;
  width: 960px; }

.hero-item {
  float: left;
  height: 400px;
  width: 960px; }

.bullets {
  bottom: 23px;
  left: 45px;
  position: absolute; }
  .bullets li {
    display: inline; }
  .bullets a {
    background: white;
    border: 5px solid transparent;
    border-radius: 50%;
    float: left;
    height: 4px;
    margin-right: 15px;
    overflow: hidden;
    text-indent: 100%;
    width: 4px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box; }
    .bullets a.active, .bullets a:hover, .bullets a:focus, .bullets a:active {
      -moz-background-clip: border;
      -o-background-clip: border-box;
      -webkit-background-clip: border;
      background-clip: border-box; }

.features {
  text-align: left; }

.feature-item {
  float: left;
  margin: 0 0 30px 15px;
  width: 310px; }
  .feature-item:first-child {
    margin-left: 0; }
  .feature-item a {
    color: black;
    display: block; }
  .feature-item img {
    border: 1px solid #e5e5e5;
    display: block;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.feature-category {
  font: 10px/1.4 "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin: 0 5px;
  position: relative;
  text-transform: uppercase; }
  .feature-category:before {
    background: black;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px; }

.feature-title {
  font: 27px/1.2 "Playfair Display", sans-serif;
  padding: 0 5px 30px; }

.ad {
  display: inline-block;
  margin: 30px auto;
  padding: 0 35px;
  position: relative; }
  .ad:before, .ad:after {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    content: "AD";
    display: block;
    font: 900 9px/2 "Titillium Web", sans-serif;
    height: 100%;
    position: absolute;
    top: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .ad:before {
    color: black;
    left: 0; }
  .ad:after {
    color: transparent;
    right: 0; }

.entry {
  margin-bottom: 60px; }

.entry-category {
  font: 10px/3.4 "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
  position: relative;
  text-transform: uppercase; }
  .entry-category:before {
    background: black;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 12px; }

.entry-title {
  font: 900 38px/1.2 "Playfair Display", sans-serif;
  margin-bottom: 40px; }
  .entry-title a {
    color: black; }

.entry-meta {
  font: 10px "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
  text-transform: uppercase; }

.entry-author {
  color: black;
  font-weight: 900; }

.entry-foot {
  padding: 30px 0; }

.entry-tags {
  font: 900 10px "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase; }
  .entry-tags a {
    background: black;
    color: white;
    display: inline-block;
    font-weight: 400;
    padding: 0 0.2em 0 0.4em; }

.content p, .content ul, .content ol {
  font: 300 18px/1.5 "Titillium Web", sans-serif;
  margin-bottom: 1.5em; }
  .content p a,
  .content p em, .content p i,
  .content p strong, .content p b, .content ul a,
  .content ul em, .content ul i,
  .content ul strong, .content ul b, .content ol a,
  .content ol em, .content ol i,
  .content ol strong, .content ol b {
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-weight: 900; }
  .content p a, .content ul a, .content ol a {
    border-bottom: 1px dotted black;
    color: black; }
.content img {
  display: block;
  height: auto;
  max-width: 100%; }

.widget {
  font: 11px/1.5 "Titillium Web", sans-serif;
  margin-bottom: 60px; }
  .widget a {
    color: black; }
  .widget p {
    letter-spacing: 0.1em;
    margin-bottom: 1.5em;
    text-transform: uppercase; }
  .widget ul, .widget ol {
    font: 300 14px/1.8 "Titillium Web", sans-serif; }
    .widget ul li, .widget ol li {
      border-top: 1px solid #cccccc; }
      .widget ul li:first-child, .widget ol li:first-child {
        border-top: 0 none; }
      .widget ul li a, .widget ol li a {
        display: block; }

.widget-title {
  font: 900 10px/2.8 "Titillium Web", sans-serif;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase; }
  .widget-title:before {
    background: black;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px; }

.widget-about a {
  display: block; }
.widget-about .widget-title {
  background: black;
  color: white;
  margin: 16px 0 0;
  padding: 0 12px; }
  .widget-about .widget-title:before {
    top: -16px; }
.widget-about .about-everyone {
  border-top: 1px solid black;
  font-size: inherit;
  padding-top: 1.5em; }
